.hero {
    background: linear-gradient(180deg, rgba(251,63,155,1) 0%, rgba(78,84,200,1) 100%);
}
.hero-heading {
    top:40vh;
    width: 100%;
    position: absolute;    
}
.hero-heading h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.hero-heading h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
}
.hero-heading a {
    text-align: center;
    display: block;
    width: 230px;
    margin: auto;
    margin-top: 25px;
    color: white;
    border: 1px solid white;
    padding: 13px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.1rem;
}
.hero-heading a:hover {
    cursor: pointer;
    background-color: red;
}
.hero .shape {
    width: 20px;
    height: 20px;
    display: block;
    bottom: -150px;
    list-style: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
}
.hero .shape:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.hero .shape:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.hero .shape:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.hero .shape:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.hero .shape:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.hero .shape:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.hero .shape:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.hero .shape:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.hero .shape:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.hero .shape:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}